.header {
  text-align: center;
}
.header img {
  width: 80px;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.header nav {
  background-color: #101b21;
  line-height: 40px;
  text-align: left;
  padding-left: 5%;
  display: flex;
}
.header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  padding: 0.25rem 0.75rem;

  font-size: 20px;
  transition: all 0.3s;
}
.header nav a:hover {
  background-color: lightgray;
  color: #101010;
}
